<?xml version="1.0"?>
<robot name="base_hub" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- Macro for calculating inertia of cylinder -->
    <macro name="cylinder_inertia" params="m r h">
        <inertia ixx="${m*(3*r*r+h*h)/12}" ixy="0" ixz="0" iyy="${m*(3*r*r+h*h)/12}" iyz="0" izz="${m*r*r/2}"/>
    </macro>

    <xacro:macro name="base_hub" params="multi_hub hub_id parent x y z roll pitch yaw">

      <xacro:if value="${multi_hub}">
          <link name="base_hub_${hub_id}">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0 "/>
                <geometry>
                    <cylinder length="0.001" radius="0.06"/>
                </geometry>
                <material name="Black"/>
            </visual>
          </link>

          <link name="hub_${hub_id}_gyro_link"/>
          <joint name="hub_${hub_id}_gyro_joint" type="fixed">
              <origin xyz="0.0 0.0 0" rpy="0 0 -3.1415" />
              <parent link="base_hub_${hub_id}" /> 
              <child link="hub_${hub_id}_gyro_link" />
          </joint>

          <link name="inertial_link_${hub_id}">
              <inertial>
                  <mass value="0.3"/>
                  <origin xyz="0 0 0"/>
                  <cylinder_inertia m="0.1" r="0.6" h="0.03" />
              </inertial>
          </link>
          <joint name="inertial_joint_${hub_id}" type="fixed">
              <origin xyz="0.0 0.0 0" rpy="0 0 0" />
              <parent link="base_hub_${hub_id}" />
              <child link="inertial_link_${hub_id}" />
          </joint>

          <gazebo reference="base_hub_${hub_id}">
              <material>Gazebo/Black</material>
              <turnGravityOff>true</turnGravityOff>
          </gazebo>

          <joint name="base_hub_${hub_id}_joint" type="fixed">
            <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
            <parent link="${parent}"/>
            <child link="base_hub_${hub_id}"/>
          </joint>
      </xacro:if>
      <xacro:unless value="${multi_hub}">
          <link name="base_hub">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0 "/>
                <geometry>
                    <cylinder length="0.001" radius="0.06"/>
                </geometry>
                <material name="Black"/>
            </visual>
          </link>

          <link name="hub_gyro_link"/>
          <joint name="hub_gyro_joint" type="fixed">
              <origin xyz="0.0 0.0 0" rpy="0 0 -3.1415" />
              <parent link="base_hub" />
              <child link="hub_gyro_link" />
          </joint>

          <link name="inertial_link">
              <inertial>
                  <mass value="0.3"/>
                  <origin xyz="0 0 0"/>
                  <cylinder_inertia m="0.1" r="0.6" h="0.03" />
              </inertial>
          </link>
          <joint name="inertial_joint" type="fixed">
              <origin xyz="0.0 0.0 0" rpy="0 0 0" />
              <parent link="base_hub" />
              <child link="inertial_link" />
          </joint>

          <gazebo reference="base_hub">
              <material>Gazebo/Black</material>
              <turnGravityOff>true</turnGravityOff>
          </gazebo>

          <joint name="base_hub_joint" type="fixed">
            <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
            <parent link="${parent}"/>
            <child link="base_hub"/>
          </joint>
      </xacro:unless>

    </xacro:macro>

</robot>
